<mat-card class="card mat-elevation-z8"> 
 <mat-card-header>
    <mat-card-title> EpicMoney </mat-card-title>
    <mat-card-subtitle>Desenvolvido por: Jarmison Paiva </mat-card-subtitle>
 </mat-card-header>
<img mat-card-img src="assets/img/icon.svg" alt="image home epic money">
<mat-card-content>
    <p>
        Bem-vindo ao nosso Sistema de Gerenciamento de Despesas Pessoais!<br>
        Viver uma vida financeiramente saudável começa com o conhecimento e controle efetivo de suas despesas.<br/> 
        Nosso sistema foi projetado para simplificar e aprimorar a maneira como você gerencia suas finanças pessoais, 
        proporcionando uma experiência intuitiva e eficaz.
      </p>
</mat-card-content>
</mat-card>