<mat-drawer-container class="container" autosize>
    <mat-drawer #drawer class="sidenav" mode="side">
      <img src="assets/img/nav.svg" alt="Imagem de navegação">
      <mat-nav-list class="nav-list">
        <a mat-list-item routerLink="home">
          <i class="material-icons">home</i>
          Home
        </a>
        <a mat-list-item (click)="toggleCadastroSubMenu()">
          <i class="material-icons">add_box</i>
          Cadastros
        </a>
        <div *ngIf="cadastroSubMenuOpen" class="submenu">
          <a mat-list-item [routerLink]="['/categorias']">
            <i class="material-icons">dynamic_feed</i>
            Categorias
          </a>

          <a mat-list-item>
            <i class="material-icons">savings</i>
            Centros
          </a>
          <a mat-list-item>
            <i class="material-icons">account_balance</i>
            Contas
          </a>
          <a mat-list-item>
            <i class="material-icons">category</i>
            Contatos
          </a>
          <a mat-list-item>
            <i class="material-icons">payments</i>
            Pagamentos
          </a>
          <a mat-list-item>
            <i class="material-icons">inventory</i>
            Projetos
          </a>
          <a mat-list-item>
            <i class="material-icons">attach_file</i>
            Tags
          </a>
        </div>
        <a mat-list-item routerLink="relatorios">
          <i class="material-icons">analytics</i>
          Relatórios
        </a>
        <a mat-list-item routerLink="lancamentos">
          <i class="material-icons">restart_alt</i>
          Lançamentos
        </a>
        <a mat-list-item href="https://github.com/WebSh4dow/epic-money-ui" target="_blank">
          <i class="material-icons">code</i>
          Github
        </a>
        <a mat-list-item>
          <i class="material-icons">logout</i>
          Logout
        </a>
      </mat-nav-list>
    </mat-drawer>
  
    <div class="sidenav-content">
      <app-header></app-header>
      <button class="menu mat-elevation-z8" (click)="drawer.toggle()" mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-container>
  